<ul class="space-y-3">
{% if shops_notifications %}
      {% for elem in shops_notifications %}
        <li class='notif'>
            <a href="{% url 'price_checker:price_history' id=elem.product.pk %}" class="group block bg-white dark:bg-neutral-800 border-2 border-gray-200 dark:border-neutral-700 rounded-xl shadow hover:ring-2 hover:ring-indigo-500 transition duration-200 relative overflow-hidden">
              
              <div class="flex justify-between items-start p-4">
                <!-- Основной текст -->
                <p class="text-gray-800 dark:text-gray-100 text-base font-medium w-full pb-6">
                  {{ elem.text|safe }}
                </p>

                <!-- Кнопка удалить -->
                <form method="post">
                    {%csrf_token%}
                    <button
                    type="button"
                    hx-post="{%url 'core:delete_notification' id=elem.pk%}"
                    hx-swap="delete"
                    hx-trigger='click'
                    hx-target='closest .notif'
                    class="text-gray-400 hover:text-red-500 transition"
                    aria-label="Удалить уведомление"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                    </button>
                </form>
              </div>

              <!-- Время в правом нижнем углу -->
              <span class="absolute bottom-2 right-4 text-sm text-gray-500 dark:text-gray-400">
                {{ elem.time|date:"H:i d.m.Y" }}
              </span>

            </a>
          </li>
      {% endfor %}

    {% elif wb_notifications %}
        {% for elem in wb_notifications %}
          <li class='notif'>
            <a href="{% url 'wb_checker:wb_product_details' id=elem.wb_product.pk %}" class="group block bg-white dark:bg-neutral-800 border-2 border-gray-200 dark:border-neutral-700 rounded-xl shadow hover:ring-2 hover:ring-indigo-500 transition duration-200 relative overflow-hidden">
              
              <div class="flex justify-between items-start p-4">
                <!-- Основной текст -->
                <p class="text-gray-800 dark:text-gray-100 text-base font-medium w-full pb-6">
                  {{ elem.text|safe }}
                </p>

                <!-- Кнопка удалить -->
                <form method="post">
                    {%csrf_token%}
                    <button
                    type="button"
                    hx-post="{%url 'core:delete_notification' id=elem.pk%}"
                    hx-swap="delete"
                    hx-trigger='click'
                    hx-target='closest .notif'
                    class="text-gray-400 hover:text-red-500 transition"
                    aria-label="Удалить уведомление"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                    </button>
                </form>
              </div>

              <!-- Время в правом нижнем углу -->
              <span class="absolute bottom-2 right-4 text-sm text-gray-500 dark:text-gray-400">
                {{ elem.time|date:"H:i d.m.Y" }}
              </span>

            </a>
          </li>
    {% endfor %}


    {% else %}
      <li class="text-gray-600 dark:text-gray-400 text-sm italic">
        Пока нет уведомлений...
      </li>
    {% endif %}
</ul>