# Игнорируем виртуальное окружение
venv_xx/
.venv_xx/

# Игнорируем кэшированные файлы
__pycache__/
*.pyc
*.pyo
*.log
*.bak
*.dat
*.dir
balvanka.py

# Игнорируем конфиденциальные данные
.env
*.sqlite3
*session

#Игнорируем полутестировочные файлы (для отладки чего-то)
balvanka.py
updated_info.txt
updated_enabled.txt
wb_links.txt
wb_artikuls.txt


node_modules
staticfiles