{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">Логин</h1>
        
        <!-- Форма входа -->
        <form method="POST">
            {% csrf_token %}
            
            <!-- Поля формы -->
            <div class="space-y-4">
                {{ form.as_p }}
            </div>

            <!-- Кнопка отправки -->
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-200 mt-4">
                Войти
            </button>
        </form>
        
        <!-- Ссылки для регистрации и восстановления пароля -->
        <div class="mt-4 text-center">
            <a href="{% url 'accounts:signup' %}" class="text-sm text-blue-600 hover:text-blue-700">Зарегистрироваться</a>
        </div>
    </div>
</div>
{% endblock content %}
