
    {% if search_brand_seller %}
      <div class="max-w-4xl mx-auto mt-10 p-6 bg-white dark:bg-neutral-900 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Результаты поиска</h3>
        <form method="post"
              hx-post="{% url 'wb_checker:recommendations_settings' %}"
              hx-trigger="submit"
              hx-target=".main_template"
              hx-swap="outerHTML">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="search_brand_seller_submit_changes">
          <ul class="space-y-4 pb-4">
            {% if search_brand_seller.brand %}
              <li class="flex items-center justify-between p-4 bg-gray-100 dark:bg-neutral-800 rounded-lg">
                <span class="text-gray-900 dark:text-white">Бренд: {{search_brand_seller.brand.name}}</span>
                <label class="inline-flex items-center">
                  <input type="checkbox" name="brand_sub" value="{{ search_brand_seller.brand.id }}"
                        class="form-checkbox h-5 w-5 text-blue-600"
                        {% if search_brand_seller.brand.id in subs_brand_ids %}checked{% endif %}>
                </label>
                {% if search_brand_seller.brand.id in subs_brand_ids %}
                  <input type="hidden" name="old_brand_sub" value="{{search_brand_seller.brand.id}}">
                {% endif %}
              </li>
              {%endif%}

            {% if search_brand_seller.seller %}
              <li class="flex items-center justify-between p-4 bg-gray-100 dark:bg-neutral-800 rounded-lg">
                <span class="text-gray-900 dark:text-white">Продавец: {{search_brand_seller.seller.name}}</span>
                <label class="inline-flex items-center">
                  <input type="checkbox" name="seller_sub" value="{{ search_brand_seller.seller.id }}"
                        class="form-checkbox h-5 w-5 text-blue-600"
                        {% if search_brand_seller.seller.id in subs_seller_ids %}checked{% endif %}>
                </label>
                {% if search_brand_seller.seller.id in subs_seller_ids %}
                  <input type="hidden" name="old_seller_sub" value="{{search_brand_seller.seller.id}}">
                {% endif %}
              </li>
              {%endif%}
          </ul>
          <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-2 rounded shadow transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-green-500">
              Сохранить изменения
          </button>
        </form>   
      </div>
      {% elif request.GET.url %}
        <div class="max-w-4xl mx-auto p-4 bg-white dark:bg-neutral-900 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold text-gray-800 dark:text-white">Не найдено ни одного бренда или продавца...</h3>
        </div>
    {% endif %}