{%load custom_math%}

<div class="max-w-6xl mx-auto pb-4 xl:pb-10">
    <div class="grid gap-4 sm:gap-4 xl:gap-10 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
    {% for elem in prods %}
    <div class="prod_card relative bg-white dark:bg-neutral-900 rounded-xl overflow-hidden border border-gray-200 dark:border-neutral-700 hover:shadow transition flex flex-col flex-1 h-full pb-2">
        <form method='post'>
            {% csrf_token %}
            <button class="absolute top-2 right-2 flex items-center justify-center w-6 h-6 bg-red-500 hover:bg-red-600 text-white rounded-full text-xs z-10"
                    hx-post={%url 'wb_checker:delete_wb_product' id=elem.pk%}
                    hx-swap='delete'
                    hx-trigger='click'
                    hx-target='closest .prod_card'
                    name='delete_product'
                    value='1'
                    >✕
            </button>
        </form>
        <!-- Стикер скидки -->
        {% if elem.discount %}
        <div class="absolute top-1 left-1 bg-red-500 text-white text-[10px] font-bold px-1.5 py-0.5 rounded z-10">
        -{{ elem.discount }}%
        </div>
        {% endif %}

        <!-- Изображение -->
        <div class="aspect-[4/5] w-full overflow-hidden">
        <img src="{{ elem.product.image_url }}" alt="{{ elem.product.name }}"
                class="w-full h-full object-cover object-center" />
        </div>

        <!-- Контент -->
        <div class="p-2 flex flex-col flex-1 space-y-1">
        <a href="{{ elem.product.url }}" target="_blank">
            <h3 class="text-sm font-medium text-gray-900 dark:text-white line-clamp-3 leading-tight">
            {{ elem.product.name }}
            </h3>
        </a>
        {% if elem.product.rating %}
        <div class="flex items-center text-yellow-400 text-xs gap-0.5 mt-1">
            <span class="text-sm leading-none">★</span>
            <span>{{ elem.product.rating }}</span>
            {% if elem.product.feedbacks %}
            <span class="text-[10px] text-gray-500 dark:text-gray-400">({{ elem.product.feedbacks }})</span>
            {% endif %}
        </div>
        {% endif %}
        </div>

        <div class="text-sm px-2 font-bold text-gray-900 dark:text-gray-300 mt-1">{{ elem.latest_price }} ₽ 
            {%if elem.latest_price < elem.first_price%}
                (<span class="text-green-500 text-xs">↓ {{elem.first_price|minus:elem.latest_price}} ₽</span>)
            {%elif elem.latest_price > elem.first_price%}
                (<span class="text-red-400 text-xs">↑ {{elem.latest_price|minus:elem.first_price}} ₽</span>)
            {%endif%}
        </div>
        <div class="text-sm px-2 font-bold text-gray-900 dark:text-gray-300 mt-1">
            <a href={%url 'wb_checker:wb_product_details' id=elem.id%}
                class="mt-2 inline-block w-full text-center bg-blue-600 hover:bg-blue-700 text-white font-medium py-1 px-2 rounded transition text-xs">
                    Подробнее
            </a>
        </div>
    </div>
    {% endfor %}
</div>
</div>


<form method="get"
        hx-get={%url 'wb_checker:all_price_list'%}
        hx-target='.products'
        hx-swap='beforeend'
        hx-trigger='revealed'>
    <input type="hidden" name='page' value={{lazy_page}}>
    <input type="hidden" name='lazy-load' value=True>
    <input type="hidden" name='sort' value={{request.GET.sort}}>
</form>