{%extends 'base.html'%}
{% block title %}PriceChecker{% endblock title %}
{%block content%}
<h1>Введите ссылку на товар</h1>

<form method="POST">
    {%csrf_token%}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="тык">
</form>
<h1></h1>
<h1></h1>
<h4><a href="{%url 'price_checker:update_prices'%}">Обновить цены</a></h4>
<h4><a href="{%url 'price_checker:search_product'%}">Поиск по продуктам</a></h4>
<table>
    <thead align="center">
        <tr>
            <th>id</th>
            <th>shop</th>
            <th>category</th>
            <th>name</th>
            <th>price</th>
            <th>price_history</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody align="center">
        {%for elem in db_products_page%}
        <tr>
            <td>{{elem.id}}</td>
            <td>{{elem.shop}}</td>
            <!-- <td>{{elem.shop.tags.all}}</td> -->
            <td>
                {%for item in elem.shop.tags.all%}
                {{item}}
                {%endfor%}
            </td>
            <td><a href="{{elem.url}}" target='_blank'>{{elem.name}}</a></td>
            <td>{{elem.latest_price}}</td>
            <td><a href="{%url 'price_checker:price_history' id=elem.id%}">История цены</a></td>
            <td><a href="{%url 'price_checker:delete_product' id=elem.id%}"> Удалить</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%include "price_checker/pagination.html" with page=db_products_page page_range=page_range%}
<h1></h1>
{%endblock content%}