{%extends 'base.html'%}
{% block title %}PriceChecker{% endblock title %}
{%block content%}
<h1>Введите ссылку на товар</h1>

<form method="POST">
    {%csrf_token%}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="тык">
</form>
<h1></h1>
<h1></h1>
<h4><a href="/price_checker/update_prices">Обновить цены</a></h4>
<table>
    <thead align="center">
        <tr>
            <th>id</th>
            <th>shop</th>
            <th>name</th>
            <th>price</th>
            <th>author_id</th>
            <th>price_history</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody align="center">
        {%for elem in db_products%}
        <tr>
            <td>{{elem.id}}</td>
            <td>{{elem.shop}}</td>
            <td><a href="{{elem.url}}">{{elem.name}}</a></td>
            <td>{{elem.latest_price}}</td>
            <td>{{elem.author_id}}</td>
            <td><a href="/price_checker/price_history/{{elem.id}}">История цены |</a></td>
            <td><a href="/price_checker/delete_product/{{elem.id}}"> Удалить</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<h1></h1>
{%endblock content%}