{%extends 'base.html'%}
{%block title%}TestGenerator{%endblock title%}
{%block content%}
<h1>Сгенерировать тест:</h1>
<form method="POST">
    {%csrf_token%}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Старт">
<h1>Все тесты:</h1>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Текст теста</th>
                <th>Добавлен</th>
                <th>Кнопка</th>
                <th>Лучший результат</th>
            </tr>
        </thead>
        <tbody>
            {%for elem in all_tests%}
            <tr>
                <td align="center">{{elem.name}}</td>
                <td align="center">{{elem}}</td>
                <td align="center">{{elem.added}}</td>
                <td align="center"><a href="pass_test/{{elem.id}}">Пройти тест</a> | <a href="delete_test/{{elem.id}}">Удалить</a></td>
                <td align="center">{{elem.best_result}}/{{elem.question_set.count}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</form>
<h1></h1>
{%endblock content%}