{% extends 'base.html' %}

{% block title %}WB Checker{% endblock title %}
{%load custom_math%}
{% block content %}
<div class="sticky top-4 z-40">
  <a href="{% url 'core:menu' %}" class="inline-flex items-center gap-2 px-3 py-1.5 bg-white dark:bg-neutral-800 rounded-full text-sm text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 border border-gray-300 dark:border-neutral-600 shadow-sm transition cursor-pointer group">
    <svg class="w-4 h-4 stroke-current group-hover:-translate-x-1 transition-transform" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
    </svg>
    Назад
  </a>
</div>
    <!-- Карточки продуктов + форма-->
    <div class='products'>
        {% include "wb_checker/partials/product_cards.html" with prods=prods form=form%}
    </div>
    <!-- Пагинация -->
    <!-- <div class="mt-10">
        {% include "wb_checker/pagination.html" with page=prods page_range=page_range request=request.GET%}
    </div> -->

    <form method="get"
        hx-get={%url 'wb_checker:all_price_list'%}
        hx-target='.products'
        hx-swap='beforeend'
        hx-trigger='revealed'>
    <input type="hidden" name='page' value={{lazy_page}}>
    <input type="hidden" name='lazy-load' value=True>
    <input type="hidden" name='sort' value={{request.GET.sort}}>
    </form>


    <script>
        setTimeout(() => {
            const el = document.getElementById('notif');
            el.classList.remove('opacity-100');
            el.classList.add('opacity-0');
        }, 3000); 
    </script>
</div>
{% endblock content %}
