{% extends "base.html" %}
{% load static %}
{%load custom_math%}
{% block title %}Информация о {{ product_to_watch.product.name }}{% endblock %}

{% block content %}
<div class="sticky top-4 z-40">
  <a href="{% url 'wb_checker:all_price_list' %}" class="inline-flex items-center gap-2 px-3 py-1.5 bg-white dark:bg-neutral-800 rounded-full text-sm text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 border border-gray-300 dark:border-neutral-600 shadow-sm transition cursor-pointer group">
    <svg class="w-4 h-4 stroke-current group-hover:-translate-x-1 transition-transform" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
    </svg>
    Назад
  </a>
</div>
<div class="max-w-4xl mx-auto py-8">

  <h1 class="text-2xl font-bold mb-6 text-gray-900 dark:text-gray-200">Информация о продукте</h1>

  <!-- Блок с информацией о товаре -->
  <div class="bg-white dark:bg-neutral-900 rounded-2xl shadow border border-gray-300 dark:border-neutral-700 p-6 mb-8">
    <div class="flex flex-col md:flex-row gap-6 items-start md:items-center">

      <!-- Картинка -->
      <div class="flex-shrink-0 w-full md:w-48">
        <a href="{{ product_to_watch.product.url }}" target="_blank">
          <img src="{{ product_to_watch.product.image_url }}" alt="{{ product_to_watch.product.name }}"
               class="w-full h-auto rounded-xl border border-gray-300 dark:border-neutral-700 hover:opacity-90 transition">
        </a>
      </div>

      <!-- Инфо -->
      <div class="flex-1 space-y-2">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">
          <a href="{{ product_to_watch.product.url }}" class="hover:underline text-blue-700 dark:text-blue-400" target="_blank">
            {{ product_to_watch.product.name }}
          </a>
        </h2>
        {% if product_to_watch.product.artikul %}
        <p class="text-gray-600 dark:text-gray-400 text-sm">
          <span class="font-medium text-gray-800 dark:text-gray-300">Артикул:</span> {{ product_to_watch.product.artikul }}
        </p>
        {% endif %}

        {% if product_to_watch.product.brand %}
        <p class="text-gray-600 dark:text-gray-400 text-sm">
          <span class="font-medium text-gray-800 dark:text-gray-300">Бренд:</span> {{ product_to_watch.product.brand }}
        </p>
        {% endif %}

        {% if product_to_watch.product.seller %}
        <p class="text-gray-600 dark:text-gray-400 text-sm">
          <span class="font-medium text-gray-800 dark:text-gray-300">Продавец:</span> {{ product_to_watch.product.seller }}
        </p>
        {% endif %}

        {% if product_to_watch.size %}
        <p class="text-gray-600 dark:text-gray-400 text-sm">
          <span class="font-medium text-gray-800 dark:text-gray-300">Размер:</span> {{ product_to_watch.size }}
        </p>
        {% endif %}

        {% if product_to_watch.volume %}
        <p class="text-gray-600 dark:text-gray-400 text-sm">
          <span class="font-medium text-gray-800 dark:text-gray-300">Остаток:</span> {{ product_to_watch.volume }} шт.
        </p>
        {% endif %}

        {% if product_to_watch.enabled == True %}
          <p class="text-green-600 dark:text-green-400 text-sm">
          <span class="font-medium text-gray-800 dark:text-gray-300">Статус:</span> В наличии
          </p>
          <div class="text-lg font-bold text-gray-900 dark:text-gray-300 mt-1 py-2">{{ product_to_watch.latest_price }} ₽ 
            {%if product_to_watch.latest_price < product_to_watch.first_price%}
                (<span class="text-green-500 text-sm">↓ {{product_to_watch.first_price|minus:product_to_watch.latest_price}} ₽</span>)
            {%elif product_to_watch.latest_price > product_to_watch.first_price%}
                (<span class="text-red-400 text-sm">↑ {{product_to_watch.latest_price|minus:product_to_watch.first_price}} ₽</span>)
            {%endif%}
        </div>
        {% elif product_to_watch.enabled == False %}
          <p class="text-red-500 text-sm">
          <span class="font-medium text-gray-800 dark:text-gray-300">Статус:</span> Нет в наличии
          </p>
          <div class="text-lg font-bold text-gray-900 dark:text-gray-300 mt-1 py-2">{{ product_to_watch.latest_price }} ₽ 
        {% endif %}
      </div>
    </div>
  </div>
     <h3 class="text-lg font-semibold mb-2 text-gray-900 dark:text-gray-200 py-6 pb-2">📋 История цены</h3>
    <div class="overflow-x-auto mb-10 rounded-2xl border-2 border-gray-300 dark:border-neutral-600">
        {% include "wb_checker/partials/price_table.html" with prices_of_product=prices_of_product product_to_watch=product_to_watch%}
    </div>

    <h3 class="text-lg font-semibold mb-2 text-gray-900 dark:text-gray-200">📈 График цены</h3>
    <div class="chart">
      {% comment %} {% include "wb_checker/partials/price_chart.html" with svg_data=svg_data%} {% endcomment %}
    </div>
</div>



    
    
{% endblock %}

