{% extends 'base.html' %}
{% block title %}Товары{% endblock title %}

{% block content %}
<div class="max-w-7xl mx-auto px-0 sm:px-6 lg:px-8 py-6">
  <h1 class="text-2xl font-bold mb-6 text-gray-900 dark:text-white">Подборка</h1>
  <!-- Блок фильтров -->
  <div class="mb-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 sm:gap-6">
  <!-- Левая часть: кнопка -->
  <div>
    <a href= {%url 'wb_checker:recommendations_settings'%} class="inline-block  text-center text-sm hover:text-blue-600 text-gray-900 dark:text-white font-semibold px-4 py-2 border-2 border-gray-300 dark:border-neutral-700 rounded-2xl bg-white dark:bg-neutral-900 hover:ring-2 hover:ring-blue-500 shadow transition">
      ⚙️ Настроить подборку
    </a>
  </div>

  <!-- Правая часть: сортировка -->
  <div class="flex flex-col sm:flex-row sm:items-center gap-2">
    <h2 class="text-lg font-semibold text-gray-800 dark:text-white sm:mr-2">Сортировать по:</h2>

    <form method="get" class="flex gap-2">
      <select name="sort" onchange="this.form.submit()" class="text-sm rounded-md border border-gray-300 dark:border-neutral-700 bg-white dark:bg-neutral-800 text-gray-700 dark:text-gray-200 px-3 py-1 focus:ring-blue-500 focus:border-blue-500 transition">
        <option value="">По умолчанию</option>
        <option value="price" {% if request.GET.sort == 'price' %}selected{% endif %}>💸 Цене</option>
        <option value="discount" {% if request.GET.sort == 'discount' %}selected{% endif %}>📉 Скидке</option>
        <option value="rating" {% if request.GET.sort == 'rating' %}selected{% endif %}>⭐ Рейтингу</option>
        <option value="feedbacks" {% if request.GET.sort == 'feedbacks' %}selected{% endif %}>💬 Отзывам</option>
      </select>
      <input type="hidden" name="page" value="{{ request.GET.page }}">
    </form>
  </div>
</div>


  <div class="grid gap-4 sm:gap-4 xl:gap-10 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
    {% for elem in prods %}
    <div class="relative bg-white dark:bg-neutral-900 rounded-xl overflow-hidden border border-gray-200 dark:border-neutral-700 hover:shadow transition flex flex-col h-full pb-2">

      <!-- Стикер скидки -->
      {% if elem.true_discount %}
      <div class="absolute top-2 right-2 bg-red-500 text-white text-[10px] sm:text-xs md:text-sm lg:text-sm font-bold px-1.5 py-0.5 rounded z-10">
        -{{ elem.true_discount }}%
      </div>
      {% endif %}

      <!-- Изображение -->
      <div class="aspect-[4/5] w-full overflow-hidden">
        <img src="{{ elem.image_url }}" alt="{{ elem.name }}"
             class="w-full h-full object-cover object-center" />
      </div>

      <!-- Контент -->
      <div class="p-2 flex flex-col flex-1 space-y-1">
        <a href="{{ elem.url }}" target="_blank">
          <h3 class="text-sm font-medium text-gray-900 dark:text-white line-clamp-2 leading-tight">
            {{ elem.name }}
          </h3>
        </a>

        <!-- Рейтинг и отзывы -->
        {% if elem.rating %}
        <div class="flex items-center text-yellow-600 dark:text-yellow-400 text-xs gap-0.5 mt-0.5">
          <span class="text-sm leading-none">★</span>
          <span>{{ elem.rating }}</span>
          {% if elem.feedbacks %}
          <span class="text-sm text-gray-500 dark:text-gray-400">({{ elem.feedbacks }})</span>
          {% endif %}
        </div>
        {% endif %}

        <!-- Причина рекомендации -->
         {% if elem.true_discount %}
          <div class="text-[11px] sm:text-xs md:text-sm lg:text-sm text-gray-500 dark:text-gray-400 mt-0.5">
            📉 Цена упала на {{ elem.true_discount }}%
          </div>
          {%endif%}
        <div class="text-[11px] sm:text-xs md:text-sm lg:text-sm text-gray-500 dark:text-gray-400 mt-0.5">
          📦 Из подписки: {{ elem.get_source_display }} — 
          <span class="italic">
            {%if elem.source == 'BRAND'%}
              {{ elem.brand.name }}
            {%elif elem.source == 'SELLER'%}
              {{elem.seller.name}}
            {%else%}
              {{elem.menu_category.name}}
            {%endif%}
          </span>
        </div>


        <!-- Теги -->
        <div class="flex flex-wrap gap-1 mt-auto py-1">
          {% if elem.rating and elem.rating >= 4.5 %}
            <span class="inline-block bg-yellow-100 text-yellow-800 text-[10px] sm:text-xs md:text-sm lg:text-sm px-2 py-0.5 rounded-full">⭐ Высокий рейтинг</span>
          {% endif %}
          {% if elem.true_discount and elem.discount >= 10 %}
            <span class="inline-block bg-red-100 text-red-800 text-[10px] sm:text-xs md:text-sm lg:text-sm px-2 py-0.5 rounded-full">📉 Скидка</span>
          {% endif %}
          {% if elem.feedbacks and elem.feedbacks > 500 %}
            <span class="inline-block bg-blue-100 text-blue-800 text-[10px] sm:text-xs md:text-sm lg:text-sm px-2 py-0.5 rounded-full">💬 Популярный</span>
          {% endif %}
        </div>

        <!-- Цена -->
        <div class="text-sm font-bold text-red-600 dark:text-red-400 mt-1">
          {{ elem.latest_price }} ₽
        </div>

        <!-- Кнопка -->
        <div class="mt-1">
          <a href="{{ elem.url }}" target="_blank"
             class="block w-full text-center bg-blue-600 hover:bg-blue-700 text-white font-medium py-1 px-2 rounded transition text-xs">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Пагинация -->
        <div class="mt-10">
            {% include "wb_checker/pagination.html" with page=prods page_range=page_range request=request.GET%}
        </div>
</div>
{% endblock content %}
