{% extends 'base.html' %}
{% block title %}Товары{% endblock title %}
{%load custom_math%}
{% block content %}
<div class="max-w-7xl mx-auto px-0 sm:px-6 lg:px-8 py-6">
  <h1 class="text-2xl font-bold mb-6 text-gray-900 dark:text-white">Подборка</h1>
  <!-- Блок фильтров -->
  <div class="mb-4 pb-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 sm:gap-6">
    <!-- Левая часть: кнопка -->
    <div>
      <a href= {%url 'wb_checker:recommendations_settings'%} class="inline-block  text-center text-sm hover:text-blue-600 text-gray-900 dark:text-white font-semibold px-4 py-2 border-2 border-gray-300 dark:border-neutral-700 rounded-2xl bg-white dark:bg-neutral-900 hover:ring-2 hover:ring-blue-500 shadow transition">
        ⚙️ Настроить подборку
      </a>
    </div>

    <!-- Правая часть: сортировка -->
    <div class="flex flex-col sm:flex-row sm:items-center gap-2">
      <h2 class="text-lg font-semibold text-gray-800 dark:text-white sm:mr-2">Сортировать по:</h2>

      <form method="get" class="flex gap-2">
        <select name="sort" onchange="this.form.submit()" class="text-sm rounded-md border border-gray-300 dark:border-neutral-700 bg-white dark:bg-neutral-800 text-gray-700 dark:text-gray-200 px-3 py-1 focus:ring-blue-500 focus:border-blue-500 transition">
          <option value="" {% if request.GET.sort == '' %} selected {% endif %}>По умолчанию</option>
          <option value="price" {% if request.GET.sort == 'price' %} selected {% endif %}>💸 Цене</option>
          <option value="discount" {% if request.GET.sort == 'discount' %} selected {% endif %}>📉 Скидке</option>
          <option value="rating" {% if request.GET.sort == 'rating' %} selected {% endif %}>⭐ Рейтингу</option>
          <option value="feedbacks" {% if request.GET.sort == 'feedbacks' %} selected {% endif %}>💬 Отзывам</option>
        </select>
        {% comment %} <input type="hidden" name="page" value="{{ request.GET.page }}"> {% endcomment %}
      </form>
    </div>
  </div>


  <div class="products">
    {%include 'wb_checker/partials/lazy_recs_cards.html' with prods=prods lazy_page=lazy_page request=request%}
  </div>
  <!-- Пагинация
        <div class="mt-10">
            {% include "wb_checker/pagination.html" with page=prods page_range=page_range request=request.GET%}
        </div> -->
</div>
{% endblock content %}
