    
    
<div class="space-y-6 bg-white dark:bg-neutral-900 rounded-2xl p-6 shadow-md border-2 border-gray-300 dark:border-neutral-600">
  <label class="text sm:text-base md:text-lg lg:text-lg xl:text-lg font-medium text-gray-700 dark:text-gray-300 mb-5 block text-center">
            Привязка к Telegram
  </label>
    {% if telegram_code %}
      {% if telegram_code == 1%}
        <div class="text-center text-lg font-semibold text-blue-700 dark:text-blue-400">
            <div class="text-sm text-gray-500 mt-1">Ваш аккаунт уже привязан к профилю Telegram</div>
            <form method="post"
                  hx-post="{%url 'accounts:delete_tg_connection'%}"
                  hx-target=".tg_form"
                  hx-swap="innerHTML"
                  hx-trigger="click from:#delete_tg_connection">
                {% csrf_token %}
 
                <div>
                  <p class="text-sm text-gray-500 dark:text-gray-400 mb-4 text-center pb-2">
                    Если хотите выключить Telegram-уведомления, нажмите на кнопку ниже.
                  </p>
                  <button type="button"
                          id="delete_tg_connection"
                          class="w-full px-4 py-2 rounded-xl bg-red-600 text-white font-medium transition">
                    Отключить уведомления
                  </button>
                </div>
            </form>
            
        </div>
      {% else %}
        <div class="text-center text-lg font-semibold text-blue-700 dark:text-blue-400">
                Код: <span class="bg-gray-100 dark:bg-neutral-800 px-2 py-1 rounded">{{ telegram_code }}</span>
                <div class="text-sm text-gray-500 mt-1">Отправьте этот код нашему Telegram-боту <a href="https://t.me/heavydrop_bot" class="text-indigo-600 dark:text-indigo-400 hover:underline">@heavydrop_bot</a></div>
        </div>
      {% endif %}
    {% endif %}


    {% if not telegram_code %}
    <form method="post"
          hx-post="{%url 'accounts:make_tg_code'%}"
          hx-target=".tg_form"
          hx-swap="innerHTML"
          hx-trigger="click from:#generate-telegram-code">
        {% csrf_token %}

        <div>
          <p class="text-sm text-gray-500 dark:text-gray-400 mb-4 text-center pb-2">
            Нажмите кнопку ниже, чтобы сгенерировать код для привязки Telegram. Код будет действителен в течение 10 минут.
          </p>
          <button type="button"
                  id="generate-telegram-code"
                  class="w-full px-4 py-2 rounded-xl bg-green-600 text-white font-medium hover:bg-green-700 transition">
            Сгенерировать код
          </button>
        </div>
    </form>
    {% endif %}
  </div>
