{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<link href="{% static 'style.css' %}" rel="stylesheet">
<body>
    <div><a href="/">Главная</a> | <a href="{%url 'blog:reg'%}">Регистрация</a> | <a href="{%url 'blog:posts'%}">Посты</a> | <a href="{%url 'blog:about'%}">О нас</a> | <a href="{%url 'price_checker:all_price_list'%}">Товары</a> | <a href="{%url 'test_generator:test_generator'%}">Генератор тестов</a> | <a href="{%url 'wb_checker:all_price_list'%}">WB_checker</a></div>
    <h1>{% block header %}
        {%if user.is_authenticated%}
            Привет, {{user.username}}!
            <h1> </h1>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <a href="#" onclick="parentNode.submit();">Выйти из системы</a>
            </form>
        {%else%}
            Вы не вошли в систему
            <h1></h1>
            <a href="/accounts/login">Войти в аккаунт</a>
        {%endif%} 
        {% endblock header %}</h1>
    <div>{% block content %}{% endblock content %}</div>
    <div>MyCorp. 2023. All rights reserved.</div>
</body>
</html>