{%extends 'base.html'%}

{%block title%}wb_checker{%endblock title%}

{%block content%}
<h1>wb_checker</h1>
<form method="POST">
    {%csrf_token%}
    <table>
        {{form_parse.as_table}}
    </table>
    <input type="submit", value="чпоньк">
</form>
<h1></h1>
<h1></h1>
<a href="{%url 'wb_checker:clear_db'%}">Clear DB</a>
<h1></h1>
<h1></h1>
<a href="{%url 'wb_checker:update_prices'%}">Update Prices</a>
<h1></h1>
<h1></h1>
<a href="{%url 'wb_checker:update_avaliability'%}">Update Avaliability</a>
<h1></h1>
<h1></h1>
<a href="{%url 'wb_checker:update_all_menu_categories'%}">Update All Menu Categories</a>
<h1></h1>
<h1></h1>
<a href="{%url 'wb_checker:update_top_prods'%}">update_top_prods</a>
<h1></h1>
<h1></h1>
<a href="{%url 'wb_checker:update_top_prods_info'%}">Update Top Prods Info</a>
<h1></h1>
<h1></h1>
<form method="POST">
    {%csrf_token%}
    <table>
        {{form_get_dest.as_table}}
    </table>
    <input type="submit", value="чпоньк">
</form>
{%endblock content%}
