{% extends 'base.html' %}
{% block title %}Товары{% endblock title %}

{% block content %}
<div class="max-w-7xl mx-auto px-0 sm:px-6 lg:px-8 py-6">
  <h1 class="text-2xl font-bold mb-6 text-gray-900 dark:text-white">Товары</h1>
  
  <div class="grid gap-4 sm:gap-4 xl:gap-10 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
    {% for elem in prods %}
    <div class="relative bg-white dark:bg-neutral-900 rounded-xl overflow-hidden border border-gray-200 dark:border-neutral-700 hover:shadow transition flex flex-col h-full pb-2">

      <!-- Стикер скидки -->
      {% if elem.discount %}
      <div class="absolute top-1 left-1 bg-red-500 text-white text-[10px] font-bold px-1.5 py-0.5 rounded z-10">
        -{{ elem.discount }}%
      </div>
      {% endif %}

      <!-- Изображение -->
      <div class="aspect-[4/5] w-full overflow-hidden">
        <img src="{{ elem.image_url }}" alt="{{ elem.name }}"
             class="w-full h-full object-cover object-center" />
      </div>

      <!-- Контент -->
      <div class="p-2 flex flex-col flex-1 space-y-1">
        <a href="{{ elem.product.url }}" target="_blank">
          <h3 class="text-sm font-medium text-gray-900 dark:text-white line-clamp-2 leading-tight">
            {{ elem.name }}
          </h3>
        </a>
      </div>
      {% if elem.rating %}
        <div class="flex items-center text-yellow-400 text-xs gap-0.5 mt-1 px-2">
          <span class="text-sm leading-none">★</span>
          <span>{{ elem.rating }}</span>
          {% if elem.feedbacks %}
          <span class="text-[10px] text-gray-500 dark:text-gray-400">({{ elem.feedbacks }})</span>
          {% endif %}
        {% endif %}
        </div>
      <div class="text-sm px-2 font-bold text-red-600 dark:text-red-400 mt-1">{{ elem.latest_price }} ₽</div>
      <div class="text-sm px-2 font-bold text-gray-900 dark:text-gray-300 mt-1">
        <a href="{{ elem.url }}" target="_blank"
           class="mt-2 inline-block w-full text-center bg-blue-600 hover:bg-blue-700 text-white font-medium py-1 px-2 rounded transition text-xs">
          Подробнее
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}