{% extends 'base.html' %}
{% block title %}Контакты — HeavyDrop{% endblock title %}

{% block content %}

<section class="bg-gray-100 dark:bg-neutral-800 py-16 sm:px-6 lg:px-8" id="contact">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-6 text-center">
      Есть вопрос или предложение?
    </h2>
    <p class="text-lg text-gray-600 dark:text-gray-300 mb-10 text-center">
      Свяжитесь с нами через форму или напрямую — мы ответим как можно скорее.
    </p>

    <div class="grid md:grid-cols-2 gap-10 ">
      <!-- Форма -->
      <div class='support_form'>
          {% include "core/partials/support_form.html" %}
      </div>

      <!-- Контактная информация -->
      <div class="bg-white dark:bg-neutral-900 p-6 rounded-2xl shadow-md flex flex-col justify-between border-2 border-gray-300 dark:border-neutral-700">
        <div>
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Контакты</h3>
          <ul class="space-y-4 text-gray-700 dark:text-gray-300">
            <li><strong>Email:</strong> <a href="mailto:hello@heavendrop.ru" class="text-indigo-600 dark:text-indigo-400 hover:underline">heavendrop.ru@gmail.com</a></li>
            <li><strong>Telegram Bot:</strong> <a href="https://t.me/heavendrop_bot" class="text-indigo-600 dark:text-indigo-400 hover:underline">@heavendrop_bot</a></li>
            <li><strong>Telegram of admin:</strong> <a href="https://t.me/coldtema" class="text-indigo-600 dark:text-indigo-400 hover:underline">@coldtema</a></li>
          </ul>
        </div>
        <div class="mt-10">
          <p class="text-sm text-gray-500 dark:text-gray-400">Мы ответим в течение 24 часов в рабочие дни.</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
