{% extends 'base.html' %}
{%load static%}
{%load custom_math%}
{% block title %}Меню — HeavyDrop{% endblock title %}

{% block content %}
<div class="max-w-5xl mx-auto space-y-8">
  
    <!-- Заголовок -->
    <div>
      <h1 class="text-2xl font-bold text-gray-700 dark:text-gray-200">Добро пожаловать, {{user.username}}!</h1>
      <p class="text-sm mt-1 text-gray-600 dark:text-gray-200">Где будем искать лучшие предложения?</p>
    </div>
  
    <!-- Магазины -->
    <div>
      <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200 mb-4">Категории</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
        <!-- Карточка магазина -->

        <a href="{%url 'wb_checker:all_price_list'%}" class="group p-5 border-2 border-gray-300 dark:border-neutral-700 rounded-2xl bg-white dark:bg-neutral-900 hover:ring-2 hover:ring-blue-500 transition-all flex items-center space-x-4">
          <img src="{% static 'core/wb.png' %}" class="w-10 h-10" alt="Wildberries">
          <div>
            <h3 class="text-base font-medium group-hover:text-blue-600 text-gray-900 dark:text-white">Wildberries</h3>
            <p class="text-sm text-gray-400 ">Рекомендации + скидки</p>
          </div>
        </a>

        <a href="{%url 'price_checker:all_price_list'%}" class="group p-5 border-2 border-gray-300 dark:border-neutral-700 dark:bg-neutral-900 rounded-2xl bg-white dark:border-neutral-700 dark:bg-neutral-900 hover:ring-2 hover:ring-blue-500 transition-all flex items-center space-x-4">
          <img src="{% static 'core/shops.svg' %}" class="w-10 h-10" alt="shops">

          <div>
            <h3 class="text-base font-medium group-hover:text-blue-600 text-gray-900 dark:text-white">Интернет-магазины</h3>
            <p class="text-sm text-gray-400 ">Отслеживание цен</p>
          </div>
        </a>
      </div>
    </div>
    
    <!-- Отслеживаемые товары -->
    <div>
      <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200 mb-4">Отслеживаемые товары</h2>
      <ul class="space-y-3">
        {%if prods_snippet or prods_wb_snippet%}
          {%for elem in prods_snippet%}
            <li class="flex justify-between items-center bg-white dark:bg-neutral-900 border-2 border-gray-300 dark:border-neutral-700 p-3 rounded-xl">
              <a href="{%url 'price_checker:price_history' id=elem.pk%}">
                <span class="text-gray-900 dark:text-gray-200">{{elem.name}}</span>
              </a>
              <span class="font-semibold text-gray-900 dark:text-gray-200">{{elem.latest_price}}₽</span>
            </li>
          {%endfor%}
          {%for elem in prods_wb_snippet%}
            <li class="flex justify-between items-center bg-white dark:bg-neutral-900 border-2 border-gray-300 dark:border-neutral-700 p-3 rounded-xl">
              <a href="{%url 'price_checker:price_history' id=elem.pk%}">
                <span class="text-gray-900 dark:text-gray-200">{{elem.product.name}}</span>
              </a>
              <span class="font-semibold text-gray-900 dark:text-gray-200">{{elem.latest_price}}₽</span>
            </li>
          {%endfor%}
        {%else%}
            <li class="flex justify-between items-center bg-white dark:bg-neutral-900 border-2 border-gray-300 dark:border-neutral-700 p-3 rounded-xl">
              <a href="{%url 'price_checker:all_price_list'%}">
                <span class="text-gray-900 dark:text-gray-200">Тут пока пусто... Перейти к поиску продуктов ↓↓↓</span>
              </a>
            </li>
        {%endif%}
      </ul>
      <a href="{%url 'price_checker:all_price_list'%}" class="text-sm text-blue-600 hover:underline mt-2 inline-block">Все товары →</a>
    </div>
  
    <!-- Лучшие находки - сделать, если у пользователя крутой тариф -->
    <div>
      <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200 mb-4">Лучшие находки</h2>
      <ul class="space-y-3">
        {%if recs_snippet%}
          {%for elem in recs_snippet%}
            <li class="flex items-center justify-between p-3 bg-white dark:bg-gray-900 rounded-xl border border-gray-400 dark:border-gray-700">
              <a href="{{elem.url}}">
                <span class="text-gray-900 dark:text-gray-300">{{elem.name}}</span>
              </a>
              <span class="bg-red-100 text-red-600 text-sm px-2 py-1 rounded-lg">-{{elem.true_discount}}%</span>
            </li>
          {%endfor%}
        {%else%}
            <li class="flex justify-between items-center bg-white dark:bg-neutral-900 border-2 border-gray-300 dark:border-neutral-700 p-3 rounded-xl">
              <a href="{%url 'wb_checker:all_price_list'%}">
                <span class="text-gray-900 dark:text-gray-200">Тут пока пусто... Перейти к настройке рекомендаций ↓↓↓</span>
              </a>
            </li>
        {%endif%}
      </ul>
      <a href="{%url 'wb_checker:recommendations'%}" class="text-sm text-blue-600 hover:underline mt-2 inline-block">Все находки →</a>
    </div>
  
    <div>
  <div class='flex justify-between items-center pb-6'>
    <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">Уведомления</h2>
    <div class="inline-flex items-center bg-gray-200 dark:bg-neutral-700 rounded-full p-1 text-sm font-medium">
          
          <input type="radio" name="type-toggle" id="WB" value="WB" class="hidden peer/monthly" checked
                  hx-get={%url 'core:notifications_swap'%}
                  hx-target=".shops_notifications"
                  hx-trigger="change">
          <label for="WB" class="px-4 py-2 cursor-pointer rounded-full peer-checked/monthly:bg-blue-600 peer-checked/monthly:text-white text-gray-800 dark:text-gray-200 transition">
              WB
          </label>
      
          <input type="radio" name="type-toggle" id="shops" value="shops" class="hidden peer/halfyear"
                  hx-get={%url 'core:notifications_swap'%}
                  hx-target=".shops_notifications"
                  hx-trigger="change">
          <label for="shops" class="px-4 py-2 cursor-pointer rounded-full peer-checked/halfyear:bg-blue-600 peer-checked/halfyear:text-white text-gray-800 dark:text-gray-200 transition">
              Магазины
          </label>
      </div>
    </div>

  <ul class="space-y-3">
    <div class='shops_notifications'>
      {% include "core/partials/shops_notifications.html" %}
    </div>
  </ul>

  {% comment %} <a href="{% url 'notifications:all' %}" class="text-sm text-blue-600 hover:underline mt-4 inline-block">Все уведомления →</a> {% endcomment %}
</div>

  
    <!-- Настройки -->
    <div>
      <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200 mb-4">Настройки</h2>
      <div class="flex flex-wrap gap-4">
        <a href="{% url 'accounts:profile' %}" class="px-4 py-2 rounded-xl bg-gray-700 text-sm text-gray-900 text-white hover:bg-gray-500">Профиль</a>
        <a href="{%url 'core:faq'%}" class="px-4 py-2 rounded-xl bg-gray-700 text-sm text-gray-900 text-white hover:bg-gray-500">FAQ</a>
        <a href="{%url 'core:contacts'%}" class="px-4 py-2 rounded-xl bg-gray-700 text-sm text-gray-900 text-white hover:bg-gray-500">Поддержка</a>
      </div>
    </div>
  </div>
  
  
  
{% endblock content %}
